@model MPB.Models.User
@{
    ViewBag.Title = "Rejestracja nowego użytkownika";
}

    <div class="jumbotron">
        <h1>Witaj na stronie Baza osób zaginionych. @ViewBag.Imie </h1>
        <p>Jeżeli chcesz dodać nowego zaginionego, <a style="color: blue" href="/Home/AddNewUser">Zarejestruj się</a></p>
        <p>Poniżej znajduje się lista osób poszukiwanych.</p>
    </div>


